body{
    background-color: #404040;
    text-align: center; 
    color: white;
}

a{
    color: pink;
}
table, th, td {
    margin: 0 auto;
    border: 1px solid black;
    background-color: #909090;
}

ul {
    margin: 0 auto;
    display: table;
}


.topTools{
    color: pink;
	margin-bottom: 2%;
}


.listTable{
    text-align: center; 
}

img{
	width: 100px;
}
img:hover{
	width: 100%;
}
