body{
    background-color: #404040;
    background-image: url("../../res/emotes/emote_0.png");
}

footer{
    text-align: center;
    font-size: small;
}

/*
 *
 */

#boardHeader{
    padding: 3px;
    padding-left: 5px;
    padding-bottom: 2px;
    color: black;
    background-color:#ea82df;
    border: 1px solid black;
    margin: 0%;
    word-wrap: break-word;

    top:0;
    position: -webkit-sticky;
    position: sticky;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);

    z-index: 4;
}

#pageNavCont{
    float: right;
}
#curPageNav{
    font-size:1.1rem;
}
.pageNavLinkFar{
    font-size:0.75rem;
}
.pageNavLinkNear{
    font-size:0.9rem;
}

#PageHeader{
    text-align: center;
    border: 2px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #b3b3b3;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75), 0px 3px 5px 4px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75), 0px 3px 5px 4px rgba(0,0,0,0.5);
}

#upperNav{
    text-align: center;
    background-color: #b3b3b3;
}

.wrap {
    width: 100%;
    color: white;
}

#leftEncap{
    float:left;
    width: 76%;
    margin-left: 1%;
}

#board{
    padding-top: 1%;
    background-color: #808080e3;
    margin-bottom: 3%;
    padding-bottom: 3%;

    box-shadow: -2px 8px 5px 7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 8px 5px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 8px 5px 7px rgba(0,0,0,0.75);
}

.pin{
	color: #ffc6c6;
}

#rightEncap{
    width: 20%;
    float:right;
    margin-right: 1%;
}
/*
 * ADVERT
 */
.advert{
    padding: 3px;
    margin-top: 7px;
}

.advertImg{
    width: 100%;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75), 0px 3px 5px 4px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75), 0px 3px 5px 4px rgba(0,0,0,0.5);
}

/*
 * SIDEBAR Stuff
 */
.sideBarElement{
    border: 1px solid black;
    margin-bottom: 1%;
    background-color: #808080;
    font-size: 1.1em;

    box-shadow: 5px 7px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 6px 0px rgba(0,0,0,0.75);
}
.sideBarHeader{
    padding: 3px;
    padding-left: 5px;
    padding-bottom: 2px;
    color: black;
    background-color:#ea82df;
    border-bottom: 1px solid black;
    margin-bottom: 6px;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}

.sideBarCol{
    float:right;
    margin-right:1%;

    padding-top: 3px;
    padding-right: 5px;
}

.navCategory{
    padding: 3px;
    margin-left: 2%;
}


.NewsNavLink{
    text-align: center;
    font-size: 1.25em;
}
.genNavLink{
    font-size: .8em;
}
.navLinkCont{
    font-size: 1.25em;
}

.navLink{
    color: #8c147f;
}
.navLink:hover{
    color: #ffa096;
    font-size: 1.1em;
}


#navActLink{
    color:#ea82df;
}

.navFlexCont{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0px 12px;
    gap: 0px 2px;
    margin-bottom: 2%;
}

.navFlexCont > a {
    text-align: center;
}

/* recent and watching link */
#watchThreadContainer{
    font-size: 0.95rem;
}
#watchingTypeSelector{
    text-align: center;
    margin: 6px 0px;
    font-size: 1rem;
}
.watchSwitcher{
    border: 0px solid red;
    border-radius: 5px;
    padding: 0px 7px;
}
.watchSwitcher:hover{
    background-color: #ea82df;
}

.noStarThreads{
    text-align: center;
}
.starTitle{
    display:inline-block;
}
.clearStar{
    float: right;
    display:inline;
    margin-right: 3px;
}

#recLinkCont{
    margin: 0 1%;
    margin-bottom: 1%;
    overflow:hidden; 
}

.newsPost_title{
    font-size: 20px; 
    font-weight: bold; 
    text-decoration: overline;
    text-align: left;
}
.newsPost_time{
    font-size: 14px;
    float: right;
}
.newsPostCont{
    margin-left: 5px;
    margin-right: 5px;
}

.UID{
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
}

.threadEncap{
    padding-left : 1%;
    padding-right: 1%;
}
.threadEncap:hover{
    background-image: linear-gradient(rgba(238,130,238,0.5) 0 0);
    box-shadow:         0px -7px 2px 0px rgba(238,130,238,0.5);
    -webkit-box-shadow: 0px -7px 2px 0px rgba(238,130,238,0.5);
    -moz-box-shadow:    0px -7px 2px 0px rgba(238,130,238,0.5);
}
.thread_title{
    font-size: 20px; 
    font-weight: bold; 
    text-decoration: overline;
    word-wrap: break-word;
}
.threadInfo{
    font-size: 14px;
    float: right;
    word-wrap: break-word;
	margin-left: 3px;
}

.postEncap{
    margin-top: 0px;
    padding-left: 1%;
    padding-right: 1%;
}

.postContent{
    margin-top: 12px;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.headTitle{
    font-size: 1.5em; 
    font-weight: bold; 
    margin-left: 2%;
    margin-right: 2%;
    word-wrap: break-word;
}
.pageHeaderHover:hover{
    background-color:red;
}
.headText{
    font-size: 20px; 
}

.newPostBox{
    border-style: solid;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10px;
    padding: 1%;
}

.tit{
    width: 90%;
}

img {
    width: 100px;
}
/* RIP REPLACED BY JS */
/*
img:hover {
    width: 100%;
}
*/


/* for buttons */
#functionButtonCont{
    background-color: #808080;
	position:fixed;
	margin-left:76.5%;
	padding:1px;
}
.funcButton{
    background-color: #808080;
	filter: brightness(75%);
	padding:2px;
}

/*chevron*/
.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

/*
 * RECENT LNK
 */
.watchingLnk{
    white-space: nowrap;
    text-overflow: clip;
    margin: 0px;
}
.scrollAnimation{
    animation: recScroll 10s linear infinite;
}
@keyframes recScroll{
    to {
        transform: translateX(100px);
    } 
}

/* ERROR CONTENT */
.errorContent{
    text-align: center;
    margin-top: 2%;
    font-size: 2rem;
}
.errorImgContent{
    width: 90%;
}

/* pDiff colors */
.pDiff_pos{
    color: #30ff30;
}
.pDiff_na{
    color: #ff0000;
}

/* topBarFunctions */
#topRowCont{
    margin-top: -4px;
    margin-right: 1%;
    float: right;
}
.topRowButton{
    color: #ea82df;
}
.topRowButton:hover{
    font-size: 1.1em;
}
.topRowButton> div {
    color: white;
    position: absolute;
    right: 2.5%;
    top: 1%;
    padding: 2px 3px;

    border: 2px double black;
    background-color: grey;
    z-index: 2;
}
#topRowCont > details > summary{
    display: block;
    font-size: 1.3rem;
}
.topRowSubmit{
    float: right;
}
.topRowSlider{
    margin-left: 10%;
}

/* captcha */
#pcaptcha{
    display: inline-block;
}
#captchaCont{
    text-align: center;
    margin-top: 3px;
}
#readerCaptchaCont{
    text-align: center;
    margin-top: 3px;
}
#readercaptcha{
    margin-top: 3px;
    /*
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
    */
    width:100px;
    overflow: hidden;
}
/* VIDEO */
.videoRed{
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}
/* acclaim stuff */
.acclaimCont{
    margin-top: 1px;
    margin-bottom: 10px;
    user-select: none;
}
.acclaimDisplay{
    z-index: 2;
    margin-right: 5px;

    padding: 1px 4px;
    border: 0px solid red;
    border-radius: 5px;

    background-color: red;
    display: none;
}
.acclaimDisplay:hover{
    background-color: #ca0000;
}

.threadEmote{
    width: 25px;
    z-index: 3;
    padding: 5px;
    margin: -5px;
}
.emote_counter{
    padding-right: 1px;
    margin-right: 2px;
}
#activeEmoteExpanded{
    position: absolute;
    margin-left: 10px;

    width: 20%;
    background-color: #c5c5c5c3;
    border: 1px solid black;
    z-index: 4;
}

.acclaimList{
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #ff6ade;
}
.acclaimList:hover{
    background-color: #ff6ade75;
}

.noncontentMsg{
    position: fixed;
    left: 0;
    right: 0;
    background-color: #535353a3;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    z-index : 5;
    color:white;

    /*
     * move it from
     *
     * xxxx----xxxx
     * to
     *     ----
     */
    padding-left: -10%;
    margin-left: 10%;
    padding-right: -30%;
    margin-right: 30%;
    padding-top: 1%;
    padding-bottom: 1%;

    -webkit-box-shadow: 0px 0px 17px 4px rgba(255,0,0,0.4);
    box-shadow: 0px 0px 17px 4px rgba(255,0,0,0.4);
}

/*for the span on the flexbox
*/
.flexBoxGap{
    color: #12345600;
}
/*for the starring of theads*/
#threadStarButton{
    float: right;
}
