body{
    background-color: #404040;
}

footer{
    text-align: center;
    font-size: small;
}

#PageHeader{
    text-align: center;
    border: 2px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #b3b3b3;
}

#upperNav{
    text-align: center;
    background-color: #b3b3b3;
}

.wrap {
    width: 100%;
    color: white;
}

#board{
    float:left;
    width: 74%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    background-color: #808080;
    margin-left: 1%;
}

#rightEncap{
	width: 20%;
	float:right;
    margin-right: 1%;
}

.advert{
    height: 400px;
    padding: 3px;
}

.advertImg{
    width: 100%;
}

.nav{
    border: 1px solid black;
    margin-bottom: 1%;
    padding-right: 5%;
    padding: 3px;
    background-color: #808080;
    font-size: 1.1em;
}

.navCategory{
	margin-left: 2%;
}

#NewsNavLink{
    text-align: center;
    font-size: 1.25em;
}
.genNavLink{
    font-size: .8em;
}
.navLink{
    font-size: 1.25em;
    margin-left: 50%;
}

#navHeader{
    font-size: 1.5em;
    text-align: center;
    color: #ff9999;
}

.newsPost_title{
    font-size: 20px; 
    font-weight: bold; 
    text-decoration: overline;
    text-align: left;
}
.newsPost_time{
    font-size: 14px;
    float: right;
}

.UID{
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
}

.thread_title{
    font-size: 20px; 
    font-weight: bold; 
    text-decoration: overline;
    word-wrap: break-word;
}
.threadInfo{
    font-size: 14px;
    float: right;
    word-wrap: break-word;
	margin-left: 3px;
}

.postEncap(){
    margin-top: 0px;
}

.postContent{
    margin-top: 12px;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.headTitle{
    font-size: 1.5em; 
    font-weight: bold; 
    margin-left: 2%;
    margin-right: 2%;
    word-wrap: break-word;
}
.headText{
    font-size: 20px; 
}

.newPostBox{
    border-style: solid;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10px;
    padding: 1%;
}

.tit{
    width: 90%;
}

img {
    width: 100px;
}
img:hover {
    width: 100%;
}

/* start for the POST SUCCESS */
.postSuccessBody{
    text-align:center;
}

.postSuccessHeader{
    font-size: 2em; 
    color: #ffffff;
}
#postSuccessRedirect{
    color: #f2f2f2;
}
#postSuccessIMG{
    height: 40%;
}
#postSuccessIMG:hover{
    height: 40%;
}
.buryQuote{
    color: #ffffff;
    font-style: italic;
}
.redLink{
    color: #ff00ff;
}

/* start for settings */
#edit_settings{
    float: right;
}

/* for buttons */
#functionButtonCont{
    background-color: #808080;
	position:fixed;
	margin-left:76.5%;
	padding:1px;
}
.funcButton{
    background-color: #808080;
	filter: brightness(75%);
	padding:2px;
}
