.idCommentBox{
    float:left;
    font-size: 0.75rem;
}
.timeCommentBox{
    float:right;
    font-size: 0.75rem;
}
.commentResponseCnt{
    text-align: right;
    font-size: 0.75rem;
    padding-right: 3px;
}
.contentCommentBox{
    padding-left: 2px;
    margin-bottom: 0px;
}
.commentCont{
    padding: 5px 3px 3px 4px;
    word-break: break-all;

    background-color: #345678a5;
}
.commentCont:hover{
    background-color: #345678e5;
}

/*
 * img render
 */
.imgContLayer{
    grid-area: reader;
}
.imgLayer{
    width: 100%;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}
#imgCommentCont{
    grid-area: comment;
    justify-self: center;

    top: 30px;
    position: -webkit-sticky;
    position: sticky;

    height: 500px;
}
#otherCommentCont{
    height: 400px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
}
.imgComment{
    width: 100%;
    /*
    border: 2px solid black;
    border-radius: 3px;

    margin: 3px;
    */
    margin-top: 3px;
}
.imgRenderCanvas{
    border: 2px solid black;
    position: absolute;
    user-select: none;
}
#imgRenderCont{
    margin-right:5px;
    display: grid;
    grid-template-columns: 74% 1% 25%;
    grid-template-areas: "reader . comment";
}
#usrCommentCont{
    display: none;
}
.newCommentCont{
    width: 100%;
    background-color: #345678b5;
    /*
    border: 2px solid black;
    border-radius: 3px;

    */
    margin-top: 3px;
    padding: 6px 0px 6px 0px;

    margin-bottom: 8px;
}
.usrTextConstraint{
    padding: 0px 3px 0px 3px;
    text-align: center;
}
.usrCommentTitle{
    margin-left: 3%;
}
.usrCommentTextArea{
    width: 95%;
    padding: 2px;
    resize:none;
}
.usrCommentSubmitCont{
    margin-right: 3%;
    text-align: right;
}
.readerCommentHead{
    font-size:0.75rem;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow:-top inset 0 0 5px grey;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#commentToggleCont{
    text-align: center;
    margin-bottom:3px;
}
/*comment expandeds stuff
 */
#commentExpanded{
    margin-left: 10px;
}
.commentResponse{
    background-color: #345678a5;
    margin-top: 3px;
    padding: 5px 3px 8px 4px;
    word-break: break-word;
}
.commentResponse:hover{
    background-color: #345678e5;
}

