body{
    background-color: #051b2c;
    text-align: center; 
    color: #ebe5ce;
}

a{
    color: pink;
}
li{
    text-align: start;
}
pre{
    margin: 0px;
    white-space: break-spaces;
    overflow: hidden;
}
table, th, td {
    margin: 0 auto;
    border: 1px solid black;
    word-break:break-all;
}
th{
    padding-left: 3px;
    padding-right: 3px;
}
th:hover{
    background-color: #555555;
}

ul {
    margin: 0 auto;
    display: table;
}


.topTools{
    color: pink;
    margin-bottom: 2%;
}


.listTable{
    text-align: center; 
}

img{
    width: 100px;
}
img:hover{
    width: 100%;
}
.usrComment{
    text-align: left;
    margin: 1%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
.usrComment:hover{
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
}

/*
 * new stuff
 */
#adminContent{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 3px;
    grid-template-columns: 20% 80%;
}
#adminSelector{
    margin-top: 20px;
    height: fit-content;
    margin-left: 3px;
}
#adminOptCont{
    border: 3px white solid;
    padding: 0px 9px;
    width: fit-content;

    margin: 10px;
}
.adminOption{
    margin-top: 6px;
    margin-bottom: 6px;
}
.adminOption:hover{
    color: #fff8dc;
}
/* */
#adminLogCont{
    text-align: start;
    padding: 0px 3px;
}
#adminLogTit{
    margin: 0px 3px;
    font-size: 1.1rem;
}
#adminLog{
    margin-top: 3px;
    border: 1px white dotted;
    height:300px;
    overflow: auto;
}
/* */
.emptyEntry{
    border: 0px solid black;
}
/* */
.noBreak{
    word-break:normal;
}
.adlinkImg{
    width: 200px;
    font-size: 0.8rem;
    padding-left: 4px;
    padding-right: 4px;
}

#selectedCont{
    display: grid;
    justify-content: center;
}
#selectedBody{
    width: fit-content;
    border: 3px white solid;
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: #3c505f;
}
/* ............................ */
#addAdvertCenter{
    display: flex;
    justify-content: center;
}
#addAdvertCont{
    width: fit-content;
    border: 2px black dotted;
    padding: 4px 5px;
}
#submitNewAdvert{
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
}
