:root{
    --hoverColor: #ffe1fc;
    --headerBkgColor: #7554ff52;
}
body{
    background-color: #ffc0cb;
    text-align: center; 
}
a{
    color: #6627ff;
}
input{
    display: inline;
    background-color: #00000000;
    border:0px black solid;
    border-bottom:1px black solid;
}
input:hover{
    background-color: var(--hoverColor);
}
.success{
    color: green;
}
.failed{
    color: red;
}

#loginHeader{
    margin-bottom: 2px;
}

#advertLoginFlexCont{
    display:flex;
    justify-content:center;
    margin-top: 10%;
}
#advertLoginCont{
    width:fit-content;
    border:2px black solid;
    border-top-width: 10px;
    padding: 7px 13px;
    margin-bottom: 5px;
    background-color: #f89cad;
}
#topBack{
    text-align: left;
    margin-left: 3%;
}
#signUpText{
    text-align: left;
}
#signUpButton{
    float: right;
}
.passwordDisclaimer{
    padding-left: 2%;
    width: 300px;
}
.inputText{
    padding-right: 70px;
}
.checkInput{
    display:inline;
    float: right;
}
.nullGood{
    color: #00000000;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}
#registerInput{
    float: right;
}
.errorMsg{
    color: red;
}
#advertPageHeader{
    background-color: #00000024;
    font-size: 1.5rem;
    margin-bottom: 7px;
    border: 2px black solid;
    border-left: 31px black solid;
    border-right: 31px black solid;
}
#advertPageReturn{
    width: 31px;
}
#advertMainBody{
    margin-top: 3%;
    padding: 2% 1%;
}
#mainContent{
    border: 2px black solid;
    padding: 11px 13px;
}
#advertTopLeft{
    text-align: end;
}
#advertHeader{
    color: black;
    font-size: 1.3rem;
}
#advertGridView{
    display: grid;
    grid-template-columns: 15% 85%;
}
.myAdvertTab{
    border-left: 2px black solid;
    border-right: 2px black solid;
    margin-bottom: 3px;
    background-color: #FFFFFF09;
    padding: 2px;
}
.myAdvertTab:hover{
    background-color: var(--hoverColor);
    font-size: 1.1rem;
}
#advertStuff{
    padding-left: 1%;
}
#addAdvertCont{
    margin-bottom: 3%;
}
#addAdvertButton{
    position: sticky;
    height: fit-content;
    top: 7px;
}
#addAdHeader{
    text-align: right;
    font-size: 1.5rem;
    color: black;
    padding-left: 1%;
    padding-right: 2%;

    border: 1px black solid;
    background-color: var(--headerBkgColor);
}
#addAdHeaderText{
    float: left;
}
#addAdvertGrid{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 3px;
    padding-bottom: 7px;
    background-color: #ff8ca0fa;
}
#addAdvertInfo{
    padding-top: 9px;
    padding-left: 13px;
}
#addAdvertInfoNotice{
    font-size: 0.8rem;
}
#addAdvertImgPreview{
    border: 2px black solid;
    border-top: 1px black solid;
    width: 100%;
}
#addAdvertInputCont{
    text-align: left;
}
.inputEncap{
    float: right;
}
#lnkToImg{
    width: 90%;
}
#lnkToSite{
    width: 90%;
}
.inputRightEncap{
    text-align: right;
}
#addAdCredits{
    width: 90px;
}
#addDisclaimer{
    font-size: 0.8rem;
}
#submitNewAdCont{
    text-align: right;
    margin-right: 5%;
}
#submitButton{
    color: black;
    border: 1px black solid;
    border-width: 1px 0px;
    padding: 3px 11px;
    padding-bottom: 1px;
}
#submitButton:hover{
    font-size: 1.1rem;
    background-color: var(--hoverColor);
}
#yourAdHeader{
    text-align: left;
    font-size: 1.75rem;
    color: black;
}
.displayAdvertCont{
    display: grid;
    grid-template-columns: 30% 70%;
}
.displayAdvertPreview{
    border: 1px black solid;
    margin-bottom: 17px;
    background-color: #ff8ca0fa;
    height: fit-content;
}
.displayAdvertImgPreview{
    width: 100%;
    border-top: 3px black solid;
    border-bottom: 7px black solid;
}
.displayAdvertLinkPreview{
    margin-bottom: 3px;
}
.displayAdvertInfoCont{
    padding: 3px 5px;
    margin-top: 4px;
    background-color: #ff8ca0fa;
    height: fit-content;
    text-align: left;
}
.displayAdId{
    text-align: right;
    font-size: 0.7rem;
}
.displayTextRight{
    text-align: right;
    word-break: break-all;
}
.displayAdCredits{
    margin-top: 9px;
    text-align: right;
    text-decoration: overline;
}
.displayLastLoadTime{
    text-align: right;
    text-decoration: underline;
}
.displayLoadHistoryCont{
    margin-left: -5px;
    margin-right: -5px;
}
.loadHistoryHeaderCont{
    text-align: right;
    background-color: var(--headerBkgColor);
}
.loadHistoryHeader{
    float: left;
}
.loadHistoryGraph{
    padding-left: 21px;
}
.deleteAdCont{
    float:right;
    padding-right: 7px;
}
.deleteAdButton{
    border-top: 1px black solid; 
    border-bottom: 1px black solid; 
    margin: 5px 3px 3px 3px;
    width: fit-content;
}
.deleteAdButton:hover{
    background-color:var(--hoverColor);
}
.displayLogLine{
    display: grid;
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px) 1fr;
    margin-bottom: 5px;
}
.shadeLogLine{
    background-color: #0000001f;
}
.displayLogTime{
    padding-right: 11px;
    padding-left: 7px;
    border-right: 1px black solid;
}
.displayLogHeader{
    padding-left: 7px;
}
.displayLogInfo{
    padding-left: 7px;
}
#displayUsrInfo{
    display: grid;
    justify-content: center;
}
.usrInfoRight{
    float: right;
    margin-left: 30px;
}
.usrInfoLeft{
    text-align: left;
}
#changePWordCont{
    margin-top: 21px;
    border-top: 1px black dotted;
    padding-top: 10px;
}
.pwordInputCont{
    text-align: left;
}
.PWordChng{
    margin-left: 21px;
    float: right;
}
#changePWordButtonCont{
    margin-top: 13px;
    text-align: right;
}
#changePWordButton{
    padding: 0px 3px 0px 3px;
}
#addAdvertErrorMessage{
    border: 1px black solid;
    margin-bottom: 7px;
    padding: 9px;
    padding-bottom: 3px;
    background-color: #ff0000cc;
}

